*{
    padding: 15;
    margin: 10;
    box-sizing: content-box;
}
body{
    background: #f2d1fd;
    font-family:  Georgia, Cambria, Times, "Times New Roman", serif;
   font-weight: auto;

}
body{
    background: url(./img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}
#button
{
    padding: 10px 10px 10px 0px;background-color: rgb(140, 138, 255);
    border-radius: 6px;
    border: none;
    
        
}

#Caja
{
    background: rgba(252, 255, 159, 0.7);
    width: 100%;
    max-width: 900px;
    color: rgb(32, 32, 32);
    border-radius: 7px;
    padding: 48px;
    margin: auto;
    width:900px ;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    margin-bottom: 50px ;
}

#Caja input
{
   
   width: 25%;
   padding: 0px;
   border-radius: 6px;
   margin: 0 0 20px 0;
   border-bottom: 4px solid #000000;
   outline: none;
   font-size: 14px;
   font-weight: normal;
   color: rgb(0, 30, 56);
   margin-top: 20px;     
}
.numero {
    background: rgba(252, 255, 159, 0.7);
    width: 100%;
    max-width: 900px;
    color: rgb(32, 32, 32);
    border-radius: 7px;
    padding: 48px;
    margin: auto;
    width:900px ;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    margin-bottom: 50px ;
}

.Caja numero{
    width: 25%;
    padding: 10px;
    border-radius: 6px;
    margin: 0 0 20px 0;
    border-bottom: 4px solid #000000;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 30, 56);
    margin-top: 25px;
}



   